# Setup

In [7]:
%matplotlib notebook
import pandas as pd
import scipy.stats as stats
import numpy as np
import cufflinks as cf
import plotly
import matplotlib as plt
import plotly.plotly as py

In [2]:
df = pd.read_csv("../Datasets/indeed_job_dataset.csv")
df.head()

,Unnamed: 0,Job_Title,Link,Queried_Salary,Job_Type,Skill,No_of_Skills,Company,No_of_Reviews,No_of_Stars,...,MD,DC,NC,Other_states,Consulting and Business Services,Internet and Software,Banks and Financial Services,Health Care,Insurance,Other_industries
0,0,Data Scientist,https://www.indeed.com/rc/clk?jk=6a105f495c36a...,<80000,data_scientist,"['SAP', 'SQL']",2,Express Scripts,3301.0,3.3,...,0,0,0,1,0,0,0,1,0,0
1,1,Data Scientist,https://www.indeed.com/rc/clk?jk=86afd561ea8c6...,<80000,data_scientist,"['Machine Learning', 'R', 'SAS', 'SQL', 'Python']",5,Money Mart Financial Services,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
2,2,Data Scientist,https://www.indeed.com/rc/clk?jk=e0aad317e6d45...,<80000,data_scientist,"['Data Mining', 'Data Management', 'R', 'SAS',...",9,comScore,62.0,3.5,...,0,0,0,1,0,0,0,0,0,0
3,3,Graduate Studies Program - Data Scientist,https://www.indeed.com/rc/clk?jk=1cfdd9e391a63...,<80000,data_scientist,['Certified Internal Auditor'],1,Central Intelligence Agency,158.0,4.3,...,0,1,0,0,0,0,0,0,0,1
4,4,Data Scientist I,https://www.indeed.com/rc/clk?jk=fec647775a21e...,<80000,data_scientist,"['Statistical Software', 'Time Management', 'R...",7,Federal Reserve Bank of Dallas,495.0,4.1,...,0,0,0,0,0,0,1,0,0,0

In [3]:
df = df[['Job_Title', 'Queried_Salary', 'Job_Type',
       'Skill', 'No_of_Skills', 'Company', 'No_of_Reviews', 'No_of_Stars',
       'Date_Since_Posted', 'Description', 'Location', 'Company_Revenue',
       'Company_Employees', 'Company_Industry']]
df

,Job_Title,Queried_Salary,Job_Type,Skill,No_of_Skills,Company,No_of_Reviews,No_of_Stars,Date_Since_Posted,Description,Location,Company_Revenue,Company_Employees,Company_Industry
0,Data Scientist,<80000,data_scientist,"['SAP', 'SQL']",2,Express Scripts,3301.0,3.3,1.0,"[<p><b>POSITION SUMMARY</b></p>, <p>\r\r\nThe ...",MO,More than $10B (USD),"10,000+",Health Care
1,Data Scientist,<80000,data_scientist,"['Machine Learning', 'R', 'SAS', 'SQL', 'Python']",5,Money Mart Financial Services,NaN,NaN,15.0,"[<p><b>What do we need?</b></p>, <ul><li>\r\r\...",TX,NaN,NaN,NaN
2,Data Scientist,<80000,data_scientist,"['Data Mining', 'Data Management', 'R', 'SAS',...",9,comScore,62.0,3.5,1.0,"[<ul><li>Validate, analyze, and conduct statis...",OR,NaN,NaN,NaN
3,Graduate Studies Program - Data Scientist,<80000,data_scientist,['Certified Internal Auditor'],1,Central Intelligence Agency,158.0,4.3,30.0,"[<p>Full time</p>, <p>Washington, DC metro are...",DC,NaN,NaN,Government
4,Data Scientist I,<80000,data_scientist,"['Statistical Software', 'Time Management', 'R...",7,Federal Reserve Bank of Dallas,495.0,4.1,30.0,[<ul><li>Assist in consultations with business...,TX,NaN,"Less than 10,000",Banks and Financial Services
5,Data Scientist - Entry to Experienced Level,<80000,data_scientist,"['AI', 'Quantitative Analysis', 'Data Mining',...",6,National Security Agency,173.0,4.3,30.0,[<ul><li>Collecting and combining data from mu...,MD,NaN,NaN,NaN
6,Geospatial Data Scientist,<80000,data_scientist,"['Statistical Software', 'Machine Learning', '...",10,NYC Careers,30.0,3.8,5.0,NaN,NY,NaN,NaN,Government
7,Data Scientist,<80000,data_scientist,"['Machine Learning', 'R', 'SQL']",3,OM Partners,NaN,NaN,10.0,"[<p>With demand sensing, OM Partners is breaki...",GA,NaN,NaN,NaN
8,Bioinformatics Data Scientist,<80000,data_scientist,"['Linux', 'R', 'C/C++', 'Python']",4,University of Idaho,233.0,4.2,1.0,[<ul><li>Masters degree in Bioinformatics or t...,ID,NaN,NaN,Education and Schools
9,Data Scientist,<80000,data_scientist,"['JavaScript', 'Data Mining', 'TS/SCI Clearanc...",6,usajobs.gov,4227.0,4.3,22.0,"[<ul><div><h2 class=""jobSectionHeader""><b>Duti...",MO,NaN,"10,000+",Government
10,Data Scientist,<80000,data_scientist,"['Machine Learning', 'R', 'SPSS', 'Data Analys...",8,The University of Pittsburgh,541.0,4.2,1.0,[<p>The Department of Epidemiology at the Univ...,PA,NaN,NaN,Education and Schools
11,Data Scientist,<80000,data_scientist,"['Machine Learning', 'R', 'SPSS', 'Data Analys...",8,The University of Pittsburgh,541.0,4.2,1.0,[<p>The Department of Epidemiology at the Univ...,PA,NaN,NaN,Education and Schools
12,Data Scientist,<80000,data_scientist,"['Machine Learning', 'Analysis Skills', 'Data ...",3,Rice University,150.0,4.3,30.0,[<p>Salary Commensurate with Experience and Qu...,TX,Less than $1B (USD),"Less than 10,000",Education and Schools
13,Jr. Data Scientist - Machine Learning,<80000,data_scientist,"['Machine Learning', 'Python']",2,Elev8 Hire Solutions,NaN,NaN,6.0,"[<p>Mid Data Scientist</p>, <p>Our client in t...",GA,NaN,NaN,NaN
14,Data Scientist,<80000,data_scientist,"['TensorFlow', 'Project Planning', 'Linux', 'M...",7,Catalina Marketing,81.0,3.2,30.0,"[<p><b>WHY CATALINA\r\r\n</b></p>, <p>Catalina...",GA,Less than $1B (USD),"Less than 10,000",Consulting and Business Services
15,Enrollment Data Scientist & Econometrician,<80000,data_scientist,"['Machine Learning', 'R', 'Statisical Analysis...",11,Florida Polytechnic University,16.0,3.9,1.0,[<p>Located along Floridaâ€™s I-4 High Tech Corr...,FL,NaN,"Less than 10,000",Education and Schools
16,Junior Data Scientist,<80000,data_scientist,"['Machine Learning', 'R', 'SQL', 'Analysis Ski...",6,Achievement Network (ANet),NaN,NaN,30.0,[<p>\r\r\nAchievement Network (ANet) is a nonp...,MA,NaN,NaN,NaN
17,Data Scientist,<80000,data_scientist,"['Microsoft SQL Server', 'Data Mining', 'Machi...",12,Deloitte,7197.0,4.0,30.0,[<ul><li><div>Implement large-scale data ecosy...,VA,NaN,"10,000+",Consulting and Business Services
18,Data Analytics and Machine Learning Specialist,<80000,data_scientist,['Machine Learning'],1,ExxonMobil,2234.0,4.0,11.0,[<p>ExxonMobil Research and Engineering Compan...,NJ,More than $10B (USD),"10,000+",Energy and Utilities
19,"Postdoctoral Associate/Data Scientist, Laborat...",<80000,data_scientist,"['LMRT', 'Machine Learning']",2,MIT,278.0,4.2,5.0,"[<p><b>Working at MIT offers opportunities, an...",MA,NaN,NaN,Education and Schools
20,innovationOchsner (iO) - Data Scientist - Bens...,<80000,data_scientist,"['AI', 'Data Mining', 'Machine Learning', 'R',...",7,Ochsner Health System,1299.0,3.9,30.0,[<p><b>We've made a lot of progress since open...,LA,NaN,"10,000+",Health Care
21,Statistician/Data Scientist,<80000,data_scientist,"['IIS', 'TS/SCI Clearance']",2,Raytheon,3166.0,4.0,30.0,[<p>Raytheon is an Equal Opportunity/Affirmati...,MO,More than $10B (USD),"10,000+",Aerospace and Defense
22,Statistician / Data Scientist,<80000,data_scientist,"['IIS', 'TS/SCI Clearance']",2,Raytheon,3166.0,4.0,30.0,[<p>Raytheon is an Equal Opportunity/Affirmati...,MO,More than $10B (USD),"10,000+",Aerospace and Defense
23,"Environmental Data Scientist, Bureau of Enviro...",<80000,data_scientist,"['Statistical Software', 'SAS', 'SQL', 'Tableau']",4,NYC Careers,265.0,4.1,30.0,NaN,NY,NaN,NaN,Government
24,Environmental Data Manager/Data Scientist (Ass...,<80000,data_scientist,"['Microsoft SQL Server', 'Data Management', 'P...",8,ERM Group,86.0,3.3,15.0,[<p><b>ERM </b>is seeking an <b>Environmental ...,GA,NaN,NaN,Consulting and Business Services
25,Sr. Data Scientist - Secret,<80000,data_scientist,"['Data Mining', 'R', 'Python']",3,Deloitte,7197.0,4.0,30.0,[<ul><li><div>Implement large-scale data ecosy...,VA,NaN,"10,000+",Consulting and Business Services
26,innovation Ochsner - iO - Data Scientist - Ben...,<80000,data_scientist,"['AI', 'Data Mining', 'Machine Learning', 'R',...",7,Ochsner Health System,1299.0,3.9,30.0,[<p><b>We've made a lot of progress since open...,LA,NaN,"10,000+",Health Care
27,"Google AI Resident, 2019 Start (Fixed-Term Emp...",<80000,data_scientist,NaN,0,Google,2641.0,4.3,21.0,[<ul><li>\r\r\nWe are accepting applications u...,NY,More than $10B (USD),"10,000+",Internet and Software
28,"Google AI Resident, 2019 Start (Fixed-Term Emp...",<80000,data_scientist,NaN,0,Google,2641.0,4.3,21.0,[<ul><li>\r\r\nWe are accepting applications u...,MA,More than $10B (USD),"10,000+",Internet and Software
29,Data Analysis & Machine Learning Postdoctoral ...,<80000,data_scientist,"['TensorFlow', 'Machine Learning', 'Git', 'Pyt...",5,Lawrence Livermore National Laboratory,111.0,4.3,2.0,[<p><b><i>Science and Technology on a Mission!...,CA,$1B to $5B (USD),"Less than 10,000",Government
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5685,Senior Data Engineer,>160000,data_engineer,"['Scripting', 'Hadoop', 'SQL', 'Big Data', 'Sp...",8,Harnham,6.0,4.8,30.0,"[<p><b>Senior Big Data Engineer</b></p>, <p><b...",CA,NaN,"Less than 10,000",Consulting and Business Services
5686,Principal Data Engineer,>160000,data_engineer,"['Hadoop', 'Scala', 'Java', 'Spark', 'Python',...",6,Harnham,6.0,4.8,30.0,[<p><b>Principal Data Engineer</b><br/>\r\r\n<...,MA,NaN,"Less than 10,000",Consulting and Business Services
5687,Senior Data Engineer/Architect,>160000,data_engineer,"['Hive', 'Data Management', 'Pentaho', 'Scala'...",10,Jobspring Partners,31.0,3.7,5.0,[<p>An enterprise company within the music ind...,NY,NaN,NaN,Human Resources and Staffing
5688,Principal Data Engineer,>160000,data_engineer,"['Hadoop', 'Scala', 'Kafka', 'C/C++', 'Java', ...",8,Harnham,6.0,4.8,30.0,"[<p><b>THE COMPANY</b></p>, <p>\r\r\nThis is a...",NY,NaN,"Less than 10,000",Consulting and Business Services
5689,Senior Big Data Engineer,>160000,data_engineer,"['Java', 'Spark', 'Data Warehouse', 'Scripting...",8,Harnham,6.0,4.8,30.0,"[<p><b>Senior Big Data Engineer</b></p>, <p><b...",CA,NaN,"Less than 10,000",Consulting and Business Services
5690,Principal Big Data Engineer,>160000,data_engineer,"['Scripting', 'Hadoop', 'SQL', 'Big Data', 'Sp...",8,Harnham,6.0,4.8,30.0,"[<p><b>Principal Big Data Engineer</b></p>, <p...",CA,NaN,"Less than 10,000",Consulting and Business Services
5691,Senior Software Engineer for Data Engineering,>160000,data_engineer,"['Chef', 'TensorFlow', 'AI', 'Hadoop', 'Scala'...",15,NVIDIA,177.0,4.2,30.0,[<p>We are looking for a Senior Software Engin...,CA,NaN,NaN,Computers and Electronics
5692,Senior Big Data Engineer (Contract),>160000,data_engineer,"['Java', 'Linux', 'Software Development', 'Had...",4,Workbridge Associates,40.0,3.4,30.0,[<p>A global automobile company is hiring Seni...,CA,NaN,"Less than 10,000",Human Resources and Staffing
5693,Sr. Principal Data Engineer (Technology Archit...,>160000,data_engineer,"['Microsoft SQL Server', 'Machine Learning', '...",20,realtor.com,36.0,3.6,6.0,[<ul>\r\r\n<li>Define data processing patterns...,CA,NaN,"Less than 10,000",Internet and Software
5694,Senior Java / Big Data Engineer - Enterprise C...,>160000,data_engineer,"['Java', 'Big Data', 'Spark', 'Hadoop', 'Kafka...",9,Bloomberg,671.0,3.9,14.0,"[<p>\r\r\nPosted Oct 17, 2018 - Requisition No...",NY,NaN,"10,000+","Media, News and Publishing"
5695,"Data Engineer Contractor (Java, Hadoop)",>160000,data_engineer,"['Pig', 'Hive', 'Machine Learning', 'Hadoop', ...",7,Jobspring Partners,31.0,3.7,19.0,"[<p>Located in Pleasanton, this predictive ana...",CA,NaN,NaN,Human Resources and Staffing
5696,Principal Data Engineer,>160000,data_engineer,"['Information Security', 'Pentaho', 'Hadoop', ...",13,Jobspring Partners,31.0,3.7,27.0,[<p>You're passionate about data and the oppor...,MA,NaN,NaN,Human Resources and Staffing
5697,Senior Software Engineer - Cloud Data Engineering,>160000,data_engineer,"['Akka', 'Design Patterns', 'Hadoop', 'Scala',...",9,Hewlett Packard Enterprise,3653.0,3.7,21.0,"[<p><b>Aruba</b>, a Hewlett Packard Enterprise...",CA,NaN,"10,000+",Internet and Software
5698,Sr. Principal Data Engineer (Solutions Architect),>160000,data_engineer,"['Microsoft SQL Server', 'Machine Learning', '...",20,realtor.com,36.0,3.6,11.0,[<ul>\r\r\n<li>Define data processing patterns...,CA,NaN,"Less than 10,000",Internet and Software
5699,Principal Sr. Data Engineer Lead,>160000,data_engineer,"['Azure', 'SQL', 'Design Experience', 'Leaders...",4,Microsoft,5180.0,4.2,30.0,"[<ul><li>Develop, grow and manage the team to ...",WA,More than $10B (USD),"10,000+",Internet and Software
5700,"Senior Software Engineer, Data Engineering",>160000,data_engineer,"['System Design', 'MySQL', 'Software Developme...",18,Glooko,NaN,NaN,30.0,[<ul>\r\r\n<li>Have experience with developmen...,NaN,NaN,NaN,NaN
5701,"Sr. Director, Data Engineering",>160000,data_engineer,"['SOX', 'Machine Learning', 'PCI', 'Leadership...",6,Capital One,6791.0,4.0,18.0,"[<p>At Capital One, weâ€™re building a leading i...",VA,More than $10B (USD),"10,000+",Banks and Financial Services
5702,Senior Big Data Engineer,>160000,data_engineer,"['Machine Learning', 'PostgreSQL', 'R', 'Pytho...",6,Harnham,6.0,4.8,30.0,"[<p><b>Senior Big Data Engineer</b></p>, <p><b...",CA,NaN,"Less than 10,000",Consulting and Business Services
5703,Senior Data Engineer,>160000,data_engineer,"['Java', 'Linux', 'Spark', 'Data Warehouse', '...",8,Coda Search,2.0,4.5,30.0,"[<p><b><i>Our client, who has developed a soft...",NY,NaN,NaN,Human Resources and Staffing
5704,"Senior Data Engineer (Java, Hadoop)",>160000,data_engineer,"['Linux', 'Hive', 'Data Management', 'Hadoop',...",14,JPMorgan Chase,21159.0,3.9,25.0,[<ul><li>Masters or Bachelors in Computer Scie...,NJ,More than $10B (USD),"10,000+",Banks and Financial Services
5705,Senior Big Data Engineer (Contract),>160000,data_engineer,"['Hadoop', 'Kafka', 'Scala', 'Java', 'Big Data...",9,Workbridge Associates,40.0,3.4,29.0,[<p>An industry leading Data-as-a-Service shop...,CA,NaN,"Less than 10,000",Human Resources and Staffing
5706,Senior Software Engineer - Cloud Data Engineering,>160000,data_engineer,NaN,0,Aruba Networks,NaN,NaN,14.0,"[<p>Aruba, a Hewlett Packard Enterprise Compan...",CA,Less than $1B (USD),"Less than 10,000",Telecommunications
5707,"Senior Data Engineer (Java, Spark, Storm, AWS,...",>160000,data_engineer,"['Java', 'Big Data', 'Spark', 'Kafka', 'Python...",6,Jobspring Partners,31.0,3.7,9.0,[<p>One of the leaders in providing innovative...,CA,NaN,NaN,Human Resources and Staffing
5708,Senior Big Data Engineer,>160000,data_engineer,"['Hive', 'Hadoop', 'Kafka', 'HBase', 'Java', '...",6,Workbridge Associates,40.0,3.4,19.0,[<p>A startup backed by one of the largest Saa...,CA,NaN,"Less than 10,000",Human Resources and Staffing
5709,Senior Data Engineer,>160000,data_engineer,"['Ruby', 'Hadoop', 'Scala', 'R', 'Perl', 'SAS'...",12,Stride Search,NaN,NaN,29.0,"[<ul><p>As a Data Software Engineer, you will ...",NaN,NaN,NaN,NaN
5710,Senior Data Engineer,>160000,data_engineer,"['Hive', 'Hadoop', 'Oracle', 'SQL', 'HBase', '...",12,Intelliswift Software Inc,NaN,NaN,30.0,NaN,NaN,NaN,NaN,NaN
5711,"Principal Data Engineer (Java, Spark, Storm, AWS)",>160000,data_engineer,"['Network', 'Scala', 'Kafka', 'Java', 'MongoDB...",8,Jobspring Partners,31.0,3.7,30.0,[<p>Want to change the world? How about contri...,CA,NaN,NaN,Human Resources and Staffing
5712,Executive Director- Architect: Data Engineerin...,>160000,data_engineer,"['Spring', 'Data Management', 'Hadoop', 'Kafka...",13,JPMorgan Chase,21159.0,3.9,22.0,[<ul><li>Identify and solve hybrid cloud data ...,DE,More than $10B (USD),"10,000+",Banks and Financial Services
5713,"Senior Manager, Data Engineering (hands on)",>160000,data_engineer,"['Spring', 'Ruby', 'Test Automation', 'Scripti...",15,Capital One,6791.0,4.0,30.0,"[<p>At Capital One, weâ€™re building a leading i...",NY,More than $10B (USD),"10,000+",Banks and Financial Services
5714,Principal Visual Analytics / Big Data Engineer...,>160000,data_engineer,"['JavaScript', 'TS/SCI Clearance', 'XML', 'Had...",11,SAIC,2279.0,4.0,30.0,[<ul><li>Develops parallel data-intensive syst...,MD,NaN,"10,000+",Aerospace and Defense

# Graph Function

In [4]:
def Industrygraph(data,param1,param2):
    df = pd.DataFrame(data.groupby([param1])[param2].value_counts())
    df.columns = [f"{param2} Count"]
    df = df.reset_index().set_index(param1).pivot(columns = param2, values = f"{param2} Count").fillna(0)
    df["Total"] = 0
    for column in df.columns:
        df["Total"] = df["Total"] + df[column]
    df = df.sort_values("Total", ascending = False)
    df = df.drop("Total", 1)
    df.iplot(kind='bar', filename='cufflinks/grouped-bar-chart')
    '''
    
    
    
    '''
    
Industrygraph(df,"Location","Queried_Salary")

Aw, snap! We didn't get a username with your request.

Don't have an account? https://plot.ly/api_signup

Questions? accounts@plot.ly

PlotlyError: Because you didn't supply a 'file_id' in the call, we're assuming you're trying to snag a figure from a url. You supplied the url, '', we expected it to start with 'https://plot.ly'.
Run help on this function for more information.

In [8]:
def Industrygraph(data,param1,param2):
    df = pd.DataFrame(data.groupby([param1])[param2].value_counts())
    df.columns = [f"{param2} Count"]
    df = df.reset_index().set_index(param1).pivot(columns = param2, values = f"{param2} Count").fillna(0)
    df["Total"] = 0
    for column in df.columns:
        df["Total"] = df["Total"] + df[column]
    df = df.sort_values("Total", ascending = False)
    df = df.drop("Total", 1)
    df.plot.bar(figsize = (10, 2), rot = 90, fontsize = 8)
    plt.savefig(f"Bar Graphs/{param1} vs {param2} Bar Graph.png")
    
    '''
    
    
    
    '''
    
Industrygraph(df,"Location","Queried_Salary")

AttributeError: module 'matplotlib' has no attribute 'savefig'

# Salaries by Industry Graph

# Company Merge